#fondo {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 250px;
  position: relative;
  opacity: 0.4;

  img {
    width: 140px;
    height: 140px;
  }

  h3 {
    font-weight: 700;
    font-size: 26px;
    color: #010100;
    margin-bottom: 15%;
  }
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 15px;
}

ion-item {
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

ion-button {
  width: 100%;
  margin-top: 15px;
}